# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intellig idea projects\Lab6Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
